{%  include   'navbar.html' %}
{% load static %} 
{% block content %}
<head>
<<style>
.about {
    width:1100px;
    height:300px;
}
</style>

<img class="about" src="{% static 'images/aboutus.jpg' %}">

</head>
<body class="text-center bg-warning">
<h2 class="bg-primary">About Snapdeal</h2>
<p>
 Snapdeal is India's leading value e-commerce platform that has helped Indian e-commerce grow beyond just brands & urban users. Nearly 80% of Snapdeal's users come from non-metro locations highlighting its deep reach across the length and breadth of the country.
 Snapdeal hosts a wide selection of good quality, value-priced merchandise across fashion, home, beauty & personal care, general merchandise, and other categories. With more than 200 Mn app installations, it is one of India's top online shopping destinations.
</p>

<h2 class="bg-secondary">Mission and Vision of Snapdeal</h2>
<h3>Vision
</h1>
<p> At Snapdeal, we aim to become India’s go-to shopping destination for value-conscious consumers-both online and offline. 
 Snapdeal believes in transforming people’s lives and meet their aspirations through a sustainable ecosystem that is built on trust, respect, inclusion and conscientiousness.
Positive Impact is at the core of Snapdeal’s strategy.
</p>

<h1  class="bg-primary">
    Mission
</h1>
<p>
    Snapdeal’s mission is to help Indian families unlock and achieve their aspirations by acquiring trendy and stylish products at affordable prices.
</p>

<h1 class="bg-primary">
    Values and Principles of Snapdeal
</h1>

<p class="bg-error">
    Always be Curious
</p>
<p>
    At Snapdeal, we ask questions and a lot of them. And we continue to do so till we get to the heart of the matter.
</p>

<h1 class="bg-primary">
    Own Outcomes
</h1>
<p>
    We recognize that while efforts are essential, they must bring quantable results.
    Hence, we take complete ownership responsibility for the results and not just for the process.
</p>

<h1 class="bg-primary">
    Be Relentless
</h1>
<p>
    At Snapdeal, we do not give up. We make it happen- no matter what it takes and how long.
</p>

<h1 class="bg-primary">
    Do the Right Thing
</h1>
<p>
    Every step that we take has to be in the interest of the organization. 
    While what is right will vary in different situations, we should use our judgment to determine the right action
</p>

<h1 class="bg-primary">
    Be Respectful
</h1>
<p>
    Everybody matters at Snapdeal – both Internal and External stakeholders.
     Every interaction, in person or virtual, gives us the opportunity to show respect.
</p>
</body>
{% endblock content %}

