{%  include  'navbar.html' %}
{% load static %}
{% block content %}
<div class="row">
 <div class="col-sm-4">
  <h4 class="text-center alert alert-info">Add New Student</h4>
  <form action="" method="POST">
   {% csrf_token %}
   {{form.as_p}}
 </form>
 </div>

 <div class="col-sm-7 offset-1">
  <h4 class="text-center alert alert-info">Show Sanpdeal Product  Information</h4>
  {% if ram %}
   <table class="table table-hover">
     <thead>
       <tr>
         <th scope="col">ID</th>
         <th scope="col">name_of_product</th>
         <th scope="col">price_of_product</th>
         <th scope="col">manufature_of_product</th>
         <th scope="col">rating</th>
         <th scope="col">reviews</th>
         <th scope="col">Action</th>
       </tr>
     </thead>
     <tbody>
      {% for i in ram %}
       <tr>
         <th scope="row">{{i.id}}</th>
         <td>{{i.name_of_product}}</td>
         <td>{{i.price_of_product}}</td>
         <td>{{i.manufature_of_product}}</td>
         <td>{{i.rating}}</td>
         <td>{{i.reviews}}</td>
         <td>
         <a href="{% url 'updating' i.id %}" class="btn btn-warning btn-sm">Edit</a>
         <form action="{% url 'deleting' i.id %}" method="post" class="d-inline"> {% csrf_token %}
          <input type="submit" class="btn btn-danger btn-sm" value="Delete">
         </form>
         </td>
       </tr>
      {% endfor %}
     </tbody>
   </table>

  {% else %}
   <h4 class="text-center alert alert-warning">No Records</h4>
  {% endif %}
 </div>

    <input type="submit" class="btn btn-success" value="Add">

 {% endblock content %}
</div>
